.at-icon {
    fill: #fff;
    border: 0
}

.at-icon-wrapper {
    display: inline-block;
    overflow: hidden
}

a .at-icon-wrapper {
    cursor: pointer
}

.at-rounded, .at-rounded-element .at-icon-wrapper {
    border-radius: 12%
}

.at-circular, .at-circular-element .at-icon-wrapper {
    border-radius: 50%
}

.addthis_32x32_style .at-icon {
    width: 2pc;
    height: 2pc
}

.addthis_24x24_style .at-icon {
    width: 24px;
    height: 24px
}

.addthis_20x20_style .at-icon {
    width: 20px;
    height: 20px
}

.addthis_16x16_style .at-icon {
    width: 1pc;
    height: 1pc
}</style>
   <style type="text/css">.at-branding-logo {
                              font-family: helvetica, arial, sans-serif;
                              text-decoration: none;
                              font-size: 10px;
                              display: inline-block;
                              margin: 2px 0;
                              letter-spacing: .2px
                          }

.at-branding-logo .at-branding-icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////+GlNUkcc1QAAAB1JREFUeNpiYIQDBjQmAwMmkwEM0JnY1WIxFyDAABGeAFEudiZsAAAAAElFTkSuQmCC")
}

.at-branding-logo .at-branding-icon, .at-branding-logo .at-privacy-icon {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 4px;
    margin-right: 3px;
    margin-bottom: -1px;
    background-repeat: no-repeat
}

.at-branding-logo .at-privacy-icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAMAAABR24SMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRF8fr9ot/xXcfn2/P5AKva////////AKTWodjhjAAAAAd0Uk5T////////ABpLA0YAAAA6SURBVHjaJMzBDQAwCAJAQaj7b9xifV0kUKJ9ciWxlzWEWI5gMF65KUTv0VKkjVeTerqE/x7+9BVgAEXbAWI8QDcfAAAAAElFTkSuQmCC")
}

.at-branding-logo span {
    text-decoration: none
}

.at-branding-logo .at-branding-addthis, .at-branding-logo .at-branding-powered-by {
    color: #666
}

.at-branding-logo .at-branding-addthis:hover {
    color: #333
}

.at-cv-with-image .at-branding-addthis, .at-cv-with-image .at-branding-addthis:hover {
    color: #fff
}

a.at-branding-logo:visited {
    color: initial
}

.at-branding-info {
    display: inline-block;
    padding: 0 5px;
    color: #666;
    border: 1px solid #666;
    border-radius: 50%;
    font-size: 10px;
    line-height: 9pt;
    opacity: .7;
    transition: all .3s ease;
    text-decoration: none
}

.at-branding-info span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.at-branding-info:before {
    content: 'i';
    font-family: Times New Roman
}

.at-branding-info:hover {
    color: #0780df;
    border-color: #0780df
}